APP_NAME="Sistema Salvietti"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=salvietti_db
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

APP_COLOR_PRIMARY=#0FA34A
APP_COLOR_SECONDARY=#FFD166
APP_COLOR_ACCENT=#E0E0E0
APP_COLOR_DANGER=#DC2626
